html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


:root {
    --primary-color: #0050c3;
    --secondary-color: white;
    --text-color: #171E43;
}

/*clase usada para contener con color solido primario azul*/
.seccion-ancho-completo-primary {
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 2.5em;

    * {
        color: white;
    }
}

.seccion-ancho-completo-secondary {
    background-color: var(--secondary-color);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 2.5em;
}

.navItems {
    height: 40px;
    fill: white;
    align-items: center;
}

#divInput {
    background-color: white;
    border-radius: 100px;
    max-width: fit-content;
}

#textoSeccion1 {
    div {
        input {
            font-family: 'Plus Jakarta Sans', "Helvetica Neue", arial, sans-serif;
            font-size: large;
            outline: none;
            border: none;
            padding-right: 120px;
        }

        button {
            font-family: 'Plus Jakarta Sans', "Helvetica Neue", arial, sans-serif;
            font-size: large;
        }
    }

    h1 {
        font-weight: bold;
        max-width: 450px;
    }

    h2{
        font-size: 21px;
    }

    h3{
        font-size: 14px;
    }

    * {
        padding: 15px;
    }
}

#login {
    padding: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;

    svg {
        margin-right: 5px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.containerSpaceAround {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.containerSpaceEvenly {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.containerCenter{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content:center;
}

.containerCenterText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 3em;
    font-weight: bold;
}

.seccion6{
    *{
        padding: 30px;
    }
    a{
        margin-left: 2em;
    }
    h2{
        font-weight: bold;
    }
    p{
        font-size: 18px;
        padding-top: 10px;
    }
}


.tarjetaBlanca {
    border: 1px solid lightblue;
    border-radius: 12px;
    padding: 1px 14px;
    background-color: #fff;
    max-width: 300px;
    text-align: left;
    min-width: 400px;
    min-height: 275px;
    svg{
        width: 32px;
        height: 32px;
        color: #4b5fA0;
    }

    * {
        padding: 15px 5px 15px 7px;
    }

    h2 {
        margin-bottom: 4px;
        font-weight: bold;
        color: #343537;
        font-size: 24px;
    }

    p {
        color: #343537;
        line-height: 1.5;
        margin: 0;
    }

    a{
        display: inline-block;
        margin-top: 6em;
    }
}

.listaTarjeta {
    display: flex;
    gap: 24px;
}

.linksEstandares{
    font-size: 14px;
    cursor: pointer;
    color: #0050c3;
    padding: 0px;
    border-bottom: 1px solid currentColor;
}

.circuloCeleste {
  width: 24px;
  height: 24px;
  background-color: rgba(0,80,195, 0.15);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.listaVentajas{
    li{
        gap: 10px;
        padding: 8px 8px 8px 8px;
    }
    *{
        padding: 5px;
        font-size: 18px;
    }
    h2{
        font-size: 32px;
        font-weight: bold;
    }
    a{
        padding: 10px;
    }
    svg{
        padding: 0;
        color: #4b5fA0;;
    }
    ul{
        padding-bottom: 25px;
    }
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 88px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3{
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    div {
        padding: 25px;
    }
}

#LoginTiendaGratis {
    width: fit-content;
}


body {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    max-height: 100vh;
    margin-top: 88px;
    font-family: 'Plus Jakarta Sans', "Helvetica Neue", arial, sans-serif;
}

.iconosRedesSociales {
    display: inline;
    margin: 0.5rem;
}

.botonCrearTiendaGratis {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    border-radius: 300px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#input{
    color: black;
}

.botonCrearTiendaGratis:hover{
    color: var(--primary-color);
    background-color: white;
    border: 1px blue solid;
}

#botonBlanco {
    color: var(--primary-color);
    background-color: white;
}

#textoSeccion7{
    display: flex;
    align-items: flex-start;
    h2{
        margin-top: 1em;
        font-weight: bold;
    }
}

footer {
    padding: 55px 40px 40px 40px;
}

#linkFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        color: white;
    }
}


#botonBlanco:hover {
    background-color: var(--primary-color);
    color: white;
    border: 1px white solid;
}

#linkPoliticas {
    color: #cfcece;
}

#linkPoliticas:hover {
    color: white;
}